/* Full-Screen Background */
.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../../assets/images/wallpaper.jpg') no-repeat center center/cover;
  backdrop-filter: blur(5px);
}

/* Centered Form Box */
.auth-form {
  background: rgba(255, 255, 255, 0.021);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  width: 350px;
  text-align: center;
}

/* Title */
.auth-title {
  font-size: 24px;
  font-weight: bold;
  color:black;
  margin-bottom: 20px;
}

/* Input Fields */
.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  padding-right: 40px;
  border-radius:25px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  color: black;
  font-size: 16px;
  outline: none;
}

.input-group input::placeholder {
  color:black;
}

/* Password Eye Icon */
.toggle-password {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
  color:black;
}

/* Buttons */
.btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  color: beige;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.btn:hover {
  background: #ff7f50;
}

/* Switch Auth */
.switch-auth {
  margin-top: 20px;
  font-size: 14px;
  color: black;
}

.switch-auth span {
  color:black;
  cursor: pointer;
  font-weight: bold;
}
