/* PreferencesModal.css */
.pref-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 18, 42, 0.5); /* #0A122A with 50% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

.pref-modal-content {
    border-radius: 12px;
    width: 100%;
    max-width: 600px;
    max-height: 80vh; /* Prevents overflow */
    padding: 20px;
    position: relative;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Enables scrolling */
    scrollbar-width: thin;
    scrollbar-color: #698F3F #F8F6F1; /* Styled scrollbar */
}

/* Cute close button */
.pref-modal-close-btn {
    position: absolute;
    top: -20px;
    right: 7px;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
    background: transparent;
    transition: color 0.3s ease-in-out;
    color: #F8F6F1; /* #0A122A - Dark Color for Contrast */
}

.pref-modal-close-btn:hover {
    color: #0A122A; /* #698F3F - Accent Color */
}

/* Smooth scrolling */
.pref-modal-content::-webkit-scrollbar {
    width: 6px;
}

.pref-modal-content::-webkit-scrollbar-thumb {
    background-color: #698F3F; /* #698F3F */
    border-radius: 10px;
}

.pref-modal-content::-webkit-scrollbar-track {
    background: #F8F6F1; /* #F8F6F1 */
}