.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fff;
  padding: 6px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 100%;
  white-space: nowrap; 
  margin-left: auto;
  margin-right: 20px; 
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
  width: 250px; /* Set a fixed or max width */
  max-width: 100%;
}

.search-input {
  flex: 1;
  width: 100%;
  min-width: 100px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  outline: none;
  transition: border 0.2s ease-in-out;
  white-space: nowrap; /* Prevent text wrapping */
}
.search-container:focus-within {
  border: 1px solid #698F3F; 
  /* box-shadow: 0 0 10px rgba(105, 143, 63, 0.6);*/
  transition:border 0.2s ease-in-out; 
}
.roulette-btn {
  background-color: #F8F6F1;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  white-space: nowrap; /* Ensure button stays in one line */
}

.roulette-btn img {
  display: block;
}
  .roulette-btn:hover {
    border: 2px solid #698F3F;
  }
  .roulette-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .tooltip {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #698F3F;
    color: #FBFAF8;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 800;
    white-space: nowrap;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .roulette-wrapper:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  