/*   TOOLTIP BACKGROUND & TEXT */
   .tooltip-inner {
    background-color: #698F3F !important;
    color: #fbfaf8 !important;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
  
  /* GENERAL TOOLTIP ARROW STYLING */
  .tooltip .tooltip-arrow::before {
    content: "";
    position: absolute;
    border: 0.5em solid transparent;
  }
  
  /* ARROW FOR LEFT-PLACED TOOLTIP (Arrow on Right) */
  .tooltip[data-popper-placement^="left"] .tooltip-arrow::before {
    border-left-color: #698F3F !important;
  }
  
  /*     ARROW FOR BOTTOM-PLACED TOOLTIP (Arrow on Top) */
  .tooltip[data-popper-placement^="top"] .tooltip-arrow::before {
    border: 0.5em solid transparent;
    border-top-color: #698F3F !important;
  }
  
  /*AI BUTTON STYLES*/
  .ai-but {
    border: none;
    background-color: #F8F6F1;
  }
  .ai-but:hover {
    border: 2px solid #698F3F;
  }
  
