.filter-container {
  background: #FBFAF8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  margin: auto;
  border: 1px solid #F8F6F1;
  }
  
  
  /* Filter title */
  .filter-container h2 {
  text-align: center;
  font-size: 2rem;
  color: #0a122a;
  margin-bottom: 15px;
  }
  
  
  /* Each section (Categories, Meal Type, etc.) */
  .filter-section {
  margin-bottom: 20px;
  }
  
  
  /* Section headings */
  .filter-section h3 {
  font-size: 1.5rem;
  color: #698f3f;
  margin-bottom: 10px;
  border-bottom: 2px solid #F8F6F1;
  padding-bottom: 5px;
  }
  
  
  /* Styling for filter tags */
  .filter-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  
  
  .filter-tag {
  background-color: #FBFAF8;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #333;
  }
  
  
  .filter-tag.selected {
  background-color: #698f3f;
  color: white;
  border: 1px solid #698f3f;
  }
  /* Hover effect for filter tags */
  .filter-tag:hover {
  background-color: #698f3f;
  color: white;
  }
  
  
  /* Responsive design */
  @media (max-width: 500px) {
  .filter-container {
  max-width: 90%;
  padding: 15px;
  }
  
  
  .filter-container h2 {
  font-size: 1.8rem;
  }
  
  
  .filter-section h3 {
  font-size: 1.3rem;
  }
  }
  